
h1 {color: rgba(0,0,51,1 );
}

body {background-color: rgba( 204,204,204);
}

input{ border-radius: 20px;
	width: 300px;
}	
textarea {
	border-radius: 30px;
	border: 5px solid red;
}

textarea:focus {
  border: 5px solid lime;
}